{
  parser: "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/require-extension": "off",
    "linebreak-style": "off",
    "semi": 0,
    "no-console": 0,
    "react/prop-types": 0,
  },
  "env": {
    "browser": true
  }
}
