@import url( 'https://fonts.googleapis.com/css?family=Open+Sans');
$primary-font: 'Open Sans', sans-serif;

html {
  height: 100%;
  font-family: $primary-font;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
